			<div id="inner">
				<div id="main"><div id="heading_events" style="background-color: #fff;"></div>
<div id="mainContainer" style="background: #fff;">
	<div id="content" style="margin: 0; padding-left: 15px;">
				<div style="float: left; width: 360px;">
																																																																																	<div class="event">
							<h1>Monday, February 2, 2009</h1>

							<h1 style="color: #5F9EA0">NY Moth StorySLAM</h1>
							<h1 style="color: #000; font-style: italic;"><a href="/events/?month=02&amp;year=2009&amp;eid=2">Foreign Soil</a></h1>
							<p>
								at Union Hall<br>
702 Union Street<br>
(at 5th Avenue)
<p>7.30pm Doors open <br>
8.00pm Stories start on stage</p>

<p>$6 tickets at the door</p>
																							</p>
						</div>
																				<div class="event">
							<h1>Tuesday, February 10, 2009</h1>
							<h1 style="color: #5F9EA0">NY Moth StorySLAM</h1>
							<h1 style="color: #000; font-style: italic;"><a href="/events/?month=02&amp;year=2009&amp;eid=3">Love Hurts</a></h1>

							<p>
								at The Nuyorican Poets Cafe<br>
236 East 3rd Street <br>
(between Avenues B and C)
<p>7:00pm Doors open<br>
7:30pm Stories start on stage </p>
<p>$6 at the door</p>
																							</p>
						</div>

																				<div class="event">
							<h1>Tuesday, February 17, 2009</h1>
							<h1 style="color: #6B8E23">LA Moth StorySLAM</h1>
							<h1 style="color: #000; font-style: italic;"><a href="/events/?month=02&amp;year=2009&amp;eid=6">Love Hurts</a></h1>
							<p>
								at El Cid<br>
4213 Sunset Boulevard<br>

(between Bates and Myra Avenues)
<p>7.00pm Doors open<br>
7.30pm Stories start on stage</p>
<p>$6 at the door</p>
																							</p>
						</div>
																				<div class="event">
							<h1>Wednesday, February 18, 2009</h1>
							<h1 style="color: #CD853F">Moth Mainstage</h1>

							<h1 style="color: #000; font-style: italic;"><a href="/events/?month=02&amp;year=2009&amp;eid=1">Docs: Stories from Behind the Scenes</a></h1>
							<p>
								<p> <span style="color:black;">Part of Documentary   Fortnight, 2009 at <a href="http://www.moma.org">MoMA</a> </span> <br>
</p>
																							</p>
						</div>

																				<div class="event">
							<h1>Thursday, February 19, 2009</h1>
							<h1 style="color: #5F9EA0">NY Moth StorySLAM</h1>
							<h1 style="color: #000; font-style: italic;"><a href="/events/?month=02&amp;year=2009&amp;eid=4">Midnight Oil</a></h1>
							<p>
								at Housing Works Bookstore Cafe<br>
126 Crosby Street

<p>7.00pm Doors open <br>
7.30pm Stories start on stage</p>
<p>$7 tickets at the door</p>
																							</p>
						</div>
																				<div class="event">
							<h1>Monday, February 23, 2009</h1>
							<h1 style="color: #5F9EA0">NY Moth StorySLAM</h1>

							<h1 style="color: #000; font-style: italic;"><a href="/events/?month=02&amp;year=2009&amp;eid=5">Regret</a></h1>
							<p>
								 at The Bitter End<br>
147 Bleecker Street <br>
(between Thompson and LaGuardia)
<p>7:00pm Doors open<br>
7:30pm Stories start on stage </p>
<p>$7 at the door</p>

																							</p>
						</div>
																				<div class="event">
							<h1>Monday, February 23, 2009</h1>
							<h1 style="color: #6B8E23">LA Moth StorySLAM</h1>
							<h1 style="color: #000; font-style: italic;"><a href="/events/?month=02&amp;year=2009&amp;eid=7">Blunders</a></h1>
							<p>

								at Air Conditioned Supper Club<br>
625 Lincoln Boulevard<br>
Venice
<p>7.00pm Doors open<br>
7.30pm Stories start on stage</p>
<p>$6 at the door<br>
</p>
																							</p>
						</div>

														</div>
