<h1>New event</h1>

<% form_for([@calendar, @event]) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form_fields", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', calendar_path(@calendar) %>
