<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Find nearby Riot phones you choose to connect with.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_riot-sync._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Connect directly to a nearby Riot phone without using the internet.</string>
</dict>
</plist>
